# Payment Gateway
PAY_SECURE_API_KEY=gnXi7etgWNhFyFGZFrOMYyrmnF4A1eGU5SC2QRmUvILOlNc2Ef
PAY_SECURE_SECRET_KEY=YOUR_SECRET_KEY
PAY_SECURE_BRAND_KEY=8QFIJJNzDGGw1qmhdCJcK5xcvuh8PwRXviUfDlLatVhgkjXlZv
PAY_SECURE_URL=http://pay-secure.djsmmbd.top
